html, body{
    height: 100vh;
}

body
{
    text-align: center;
    font-family: 'Solway', serif;
    margin: 0px;
    background-image: url("softpencils2.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

table{
    display: inline-block;
    border-collapse: collapse;
    width: 70%;
    background-image: url("math.jpg");
}

td, th{
    padding: 10px;
    border-right: solid 1px rgb(225, 225, 225);
    border-bottom: solid 1px rgb(225, 225, 225);; 
    
}

th{
    background-color: rgba(0, 100, 0, 0.9);
    color: white;
    font-weight: unset;
    padding: 10px 20px;
}

td{
    background-color: rgba(255, 255, 255, 1);
    color: white;   
    width: 14%;

}
.cellTest{
    background-color: red;
    color: white;
}

/* tr:nth-child(odd){
    background-color: lightgray !important;
} */

#formContainer{
    display: none;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
    position: absolute;
    top: 79px;
    left: 0px;
    text-align: left;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
}

#header{
    margin: 0px;
    margin-bottom: 30px;   
    background-image: url("math.jpg");
    
}

#image{
    margin: 0px;
    padding: 20px;
    background-color: rgba(17, 83, 117, 0.9);
}

h1{
    filter: unset;
    margin: 0px;
    color: white;
}

@-webkit-keyframes example {
    0% {left:-100px;opacity: 0;}
    100% {left:0px;opacity:1;}
  }
  
  /* Add animation (Standard syntax) */
  @keyframes example {
    0% {left:-100px;opacity: 0;}
    100% {left:0px;opacity:1;}
  }